<!DOCTYPE html>
<html>
<head th:fragment="copy3">

<!-- Basic -->
<meta charset="UTF-8">

<title>Scrum HD</title>
<meta name="keywords" content="Scrum HD" />
<meta name="description" content="Scrum HD">

<!-- Mobile Metas -->
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

<!-- Web Fonts  -->
<link
	href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light"
	rel="stylesheet" type="text/css">

	<link rel="stylesheet" href="../static/assets/vendor/pnotify/pnotify.custom.css" />
<!-- Vendor CSS -->
<link rel="stylesheet"
	href="../static/assets/vendor/bootstrap/css/bootstrap.css"
	th:href="@{assets/vendor/bootstrap/css/bootstrap.css}" />
<link rel="stylesheet"
	href="../static/assets/vendor/font-awesome/css/font-awesome.css"
	th:href="@{assets/vendor/font-awesome/css/font-awesome.css}" />
<link rel="stylesheet"
	href="../static/assets/vendor/magnific-popup/magnific-popup.css"
	th:href="@{assets/vendor/magnific-popup/magnific-popup.css}" />
<link rel="stylesheet"
	href="../static/assets/vendor/bootstrap-datepicker/css/datepicker3.css"
	th:href="@{assets/vendor/bootstrap-datepicker/css/datepicker3.css}" />

<!-- Theme CSS -->
<link rel="stylesheet" href="../static/assets/stylesheets/theme.css"
	th:href="@{assets/stylesheets/theme.css}" />

<!-- Skin CSS -->
<link rel="stylesheet"
	href="../static/assets/stylesheets/skins/default.css"
	th:href="@{assets/stylesheets/skins/default.css}" />

<!-- Theme Custom CSS -->
<link rel="stylesheet"
	href="../static/assets/stylesheets/theme-custom.css"
	th:href="@{assets/stylesheets/theme-custom.css}" />

<!-- Head Libs -->
<script src="../static/assets/vendor/modernizr/modernizr.js"
	th:src="@{assets/vendor/modernizr/modernizr.js}"></script>
	
	<style>
.button {
    display: inline-block;
    padding: 10px;
    background: linear-gradient(#79a6e2 2%, #3366aa 5%, #1e4e8e);
    border: none;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    box-shadow: 0px 3px 0px #113c75, 0px 5px 5px #333;
    margin-right: 5px;
}

.button-backlog {
    background: transparent;
    box-shadow: none;
    color: #3366aa;
    font-weight: normal;
}

.button-progress {
    background: transparent;
    box-shadow: none;
    color: #c06300;
    font-weight: normal;
}

.button-do {
    background: transparent;
    box-shadow: none;
    color: #8B008B;
    font-weight: normal;
}

.button-done {
    background: transparent;
    box-shadow: none;
    color: #007b03;
    font-weight: normal;
}



.col-3rds {
    box-sizing: border-box;
    width: 33.333%;
    float: left;
}

.flex {
    display: flex;
    flex-direction: row;
}

.scrum-board {
    flex: 1;
    padding: 20px;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.scrum-board:first-child {
    flex: 1;
    padding: 20px;
    border-left: 1px solid #ddd;
}

.input-group1 {
    position: relative;
    display: block;
    padding: 10px;
    border: 1px solid #dddddd;
    border-left: 5px solid #ccc;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #f1f1f1;
}

.input-group1 span {
    color: #333;
    font-weight: bold;
}

.inline {
    display: inline;
}

.float-right {
    float: right;
}

.overflow {
    overflow: auto;
}

.margin-top-10 {
    margin-top: 10px;
}
</style>
</head>
<body>
	<section class="body">

		<!-- start: header -->
		<header class="header" th:fragment="copy1">
			<div class="logo-container">
				<a href="/" class="logo"> <img
					src="../static/assets/images/logo.png"
					th:src="@{assets/images/logo.png}" height="35" alt="Scrum HD" />
				</a>
				<div class="visible-xs toggle-sidebar-left"
					data-toggle-class="sidebar-left-opened" data-target="html"
					data-fire-event="sidebar-left-opened">
					<i class="fa fa-bars" aria-label="Toggle sidebar"></i>
				</div>
			</div>

			<!-- start: search & user box -->
			<div class="header-right">

				<form action="#" class="search nav-form">
					<div class="input-group input-search">
						<input type="text" class="form-control" name="q" id="q"
							placeholder="Access to all projects or tasks..."> <span
							class="input-group-btn">
							<button class="btn btn-default" type="submit">
								<i class="fa fa-search"></i>
							</button>
						</span>
					</div>
				</form>

				<span class="separator"></span>

				<ul class="notifications">
					<li><a href="#" class="dropdown-toggle notification-icon"
						data-toggle="dropdown"> <i class="fa fa-envelope"></i> <!--span class="badge">3</span-->
					</a>

						<div class="dropdown-menu notification-menu">
							<div class="notification-title">
								<!--span class="pull-right label label-default">230</span-->
								Messages
							</div>

							<div class="content">
								<ul>

								</ul>

								<hr />

								<div class="text-right">
									<a href="#" class="view-more">View All</a>
								</div>
							</div>
						</div></li>
					<li><a href="#" class="dropdown-toggle notification-icon"
						data-toggle="dropdown"> <i class="fa fa-bell"></i> <!--span class="badge">3</span-->
					</a>

						<div class="dropdown-menu notification-menu">
							<div class="notification-title">
								<!--span class="pull-right label label-default">3</span-->
								Alerts
							</div>

							<div class="content">
								<ul>

								</ul>

								<hr />

								<div class="text-right">
									<a href="#" class="view-more">View All</a>
								</div>
							</div>
						</div></li>
				</ul>

				<span class="separator"></span>

				<div id="userbox" class="userbox">
					<a href="#" data-toggle="dropdown">
						<figure class="profile-picture">
							<img src="../static/assets/images/!logged-user.jpg"
								th:src="@{assets/images/!logged-user.jpg}" class="img-circle"
								data-lock-picture="../static/assets/images/!logged-user.jpg" />
						</figure>
						
<!-- SESSION -->							
						
						<div class="profile-info">
							<span class="name" th:inline="text">[[${#httpServletRequest.remoteUser}]]</span>
							<!--span class="role">administrator</span-->
						</div> <i class="fa custom-caret"></i>
						
						
						
					</a>

					<div class="dropdown-menu">
						<ul class="list-unstyled">
							<li class="divider"></li>
							<li><a role="menuitem" tabindex="-1" th:href="@{edit(username=${#httpServletRequest.remoteUser})}"><i
									class="fa fa-user"></i> My Profile</a></li>

<!-- LOGOUT -->									
									
							<li><a role="menuitem" tabindex="-1"
								th:href="@{/signin?Logout}"><i class="fa fa-power-off"></i>
									Logout</a></li>
									
									
						</ul>
					</div>
				</div>
			</div>
			<!-- end: search & user box -->
		</header>
		<!-- end: header -->

		<div class="inner-wrapper">
			<!-- start: sidebar -->
			<aside id="sidebar-left" class="sidebar-left" th:fragment="copy2">

				<div class="sidebar-header">
					<div class="sidebar-title" style="color: white">Navigation</div>
					<div class="sidebar-toggle hidden-xs"
						data-toggle-class="sidebar-left-collapsed" data-target="html"
						data-fire-event="sidebar-left-toggle">
						<i class="fa fa-bars" aria-label="Toggle sidebar"></i>
					</div>
				</div>

				<div class="nano">
					<div class="nano-content">
						<nav id="menu" class="nav-main" role="navigation">
							<ul class="nav nav-main">
								<li class="nav-active"><a href="index.html"> <i
										class="fa fa-home" aria-hidden="true"></i> <span>HomePage</span>
								</a></li>
								<li><a href="#"> <i class="fa fa-align-left"
										aria-hidden="true"></i> <span>Dashboard</span>
								</a></li>
								<li><a href="#"> <span
										class="pull-right label label-primary"></span> <i
										class="fa fa-envelope" aria-hidden="true"></i> <span>Mailbox</span>
								</a></li>
								<li><a href="#"> <i class="fa fa-check-square-o"
										aria-hidden="true"></i> <span>My tasks</span>
								</a></li>
								<li><a href="#"> <i class="fa fa-clipboard"
										aria-hidden="true"></i> <span>Reports</span>
								</a></li>
							</ul>
						</nav>

						<hr class="separator" />

						<div class="sidebar-widget widget-tasks">
							<div class="widget-header">
								<h6 style="color: white">Projects</h6>
								<div class="widget-toggle">+</div>
							</div>
							<div class="widget-content">
								<ul class="list-unstyled m-none" th:each="b:${listBacklogs}">
									<li><a  th:text="${b.projectname}"  th:href="@{showProject(projectname=${b.projectname})}" />
									</li>
												<a  th:href="@{AllSprints(projectname=${b.projectname})}" style="color: white; margin-left: 15%;" > All Sprints </a>
										
									
								</ul>
							</div>
							<a th:href="@{/CreatePjtBlog}">+ create new project</a>
						</div>
					</div>
				</div>

			</aside>
			<!-- end: sidebar -->

			<section class="content-body">

				<!-- start: page -->

				<!-- end: page -->
			</section>
		</div>
	</section>
	<div th:fragment="copy4">
		<!-- Vendor -->
		<script src="../static/assets/vendor/jquery/jquery.js"
			th:src="@{assets/vendor/jquery/jquery.js}"></script>
		<script
			src="../static/assets/vendor/jquery-browser-mobile/jquery.browser.mobile.js"
			th:src="@{assets/vendor/jquery-browser-mobile/jquery.browser.mobile.js}"></script>
		<script src="../static/assets/vendor/bootstrap/js/bootstrap.js"
			th:src="@{assets/vendor/bootstrap/js/bootstrap.js}"></script>
		<script src="../static/assets/vendor/nanoscroller/nanoscroller.js"
			th:src="@{assets/vendor/nanoscroller/nanoscroller.js}"></script>
		<script
			src="../static/assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js"
			th:src="@{assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js}"></script>
		<script src="../static/assets/vendor/magnific-popup/magnific-popup.js"
			th:src="@{assets/vendor/magnific-popup/magnific-popup.js}"></script>
		<script
			src="../static/assets/vendor/jquery-placeholder/jquery.placeholder.js"
			th:src="@{assets/vendor/jquery-placeholder/jquery.placeholder.js}"></script>


		<!-- Theme Base, Components and Settings -->
		<script src="../static/assets/javascripts/theme.js"
			th:src="@{assets/javascripts/theme.js}"></script>

		<!-- Theme Custom -->
		<script src="../static/assets/javascripts/theme.custom.js"
			th:src="@{assets/javascripts/theme.custom.js}"></script>

		<!-- Theme Initialization Files -->
		<script src="../static/assets/javascripts/theme.init.js"
			th:src="@{assets/javascripts/theme.init.js}"></script>
			
			<script src="../static/assets/javascripts/forms/examples.wizard.js" th:src="@{assets/javascripts/forms/examples.wizard.js}"></script>
		
		<script src="../static/assets/vendor/jquery-validation/jquery.validate.js" th:src="@{assets/vendor/jquery-validation/jquery.validate.js}"></script>
		<script src="../static/assets/vendor/bootstrap-wizard/jquery.bootstrap.wizard.js" th:src="@{assets/vendor/bootstrap-wizard/jquery.bootstrap.wizard.js}"></script>
		<script src="../static/assets/vendor/pnotify/pnotify.custom.js" th:src="@{assets/vendor/pnotify/pnotify.custom.js}"></script>
		<script>
                init();

                //Button Functions------------------------------------------
                function init() {
                    $(".button-backlog").on(
                            "click",
                            function() {
                                if (!($(this).closest(".backlog").length > 0)) {
                                    $(this).parents(".input-group1").appendTo(
                                            ".backlog").css({
                                        "background-color" : "",
                                        "border" : ""
                                    });
                                }
                            });
                    $(".button-do").on(
                            "click",
                            function() {
                                if (!($(this).closest(".to-do").length > 0)) {
                                    $(this).parents(".input-group1").appendTo(
                                            ".to-do").css({
                                        "background-color" : "#D8BFD8",
                                        "border" : "none"
                                    });
                                }
                            });
                    $(".button-progress")
                            .on(
                                    "click",
                                    function() {
                                        if (!($(this).closest(".in-progress").length > 0)) {
                                            $(this)
                                                    .parents(".input-group1")
                                                    .appendTo(".in-progress")
                                                    .css(
                                                            {
                                                                "background-color" : "#ffdfbc",
                                                                "border" : "none"
                                                            });
                                        }
                                    });
                    $(".button-done").on(
                            "click",
                            function() {
                                if (!($(this).closest(".done").length > 0)) {
                                    $(this).parents(".input-group1").appendTo(
                                            ".done").css({
                                        "background-color" : "#cfffd0",
                                        "border" : "none"
                                    });

                                }
                            });
                  
                }
            </script>
	
	
	</div>
</body>
</html>